[Desktop Entry]
Name=ROCOS-Viz
Exec=pkexec env DISPLAY=:1 XAUTHORITY=/run/user/1000/gdm/Xauthority /opt/rocos/viz/bin/rocos-viz
Path=/opt/rocos/viz/bin
Terminal=false
Type=Application
Icon=/opt/rocos/viz/icon.png
StartupWMClass=ROCOS-Viz
Comment=ROCOS Visualization
Categories=Utility;
