<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="talon">
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 3.1415926535897932384626"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/base_link.STL"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 3.1415926535897932384626"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/base_link.STL"/>
            </geometry>
        </collision>
    </link>
    <link name="link_1">
        <inertial>
        <origin
            xyz="0.0 0.008 -0.071"
            rpy="0 0 0" />
        <mass
            value="5.683" />
        <inertia
            ixx="0.075"
            ixy="0"
            ixz="0"
            iyy="0.075"
            iyz="-0.002"
            izz="0.012" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/link_1.STL"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 3.1415926535897932384626"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/link_1.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="joint_1" type="continuous">
        <origin xyz="0.0 0.0 0.348" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="link_1"/>
        <axis xyz="0 0 1"/>
        <hardware id="0" type="driver">
            <limit lower="-2.84" upper="2.84"  vel="3.0" acc="10.0" jerk="150.0" effort="30.0"/>
            <transform ratio="1.0" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1.0"
                       user_unit_name="rad"/>
             <inputs name="Inputs">
                <status_word>Status word</status_word>
                <position_actual_value>Position actual value</position_actual_value>
                <velocity_actual_value>Velocity actual value</velocity_actual_value>
                <torque_actual_value>Torque actual value</torque_actual_value>
                <load_torque_value>Analog Input 1</load_torque_value>
                <secondary_position_value>Auxiliary position actual value</secondary_position_value>
                <secondary_velocity_value>Secondary velocity value</secondary_velocity_value>
            </inputs>
            <outputs name="Outputs">
                <control_word>Control word</control_word>
                <mode_of_operation>Mode of operation</mode_of_operation>
                <target_position>Target Position</target_position>
                <target_velocity>Target Velocity</target_velocity>
                <target_torque>Target Torque</target_torque>
            </outputs>        
        </hardware>
    </joint>
    <link name="link_2">
    <inertial>
        <origin
            xyz="0.000 0.117 0.024"
            rpy="0 0 0" />
        <mass
            value="3.99" />
        <inertia
            ixx="0.099"
            ixy="0"
            ixz="0"
            iyy="0.01"
            iyz="0.002"
            izz="0.096" />
        </inertial>
        
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/link_2.STL"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 3.1415926535897932384626"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/link_2.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="joint_2" type="continuous">
        <origin xyz="0 0 0" rpy="1.5707963267948966 0 0"/>
        <parent link="link_1"/>
        <child link="link_2"/>
        <axis xyz="0 0 1"/>
        <hardware id="1" type="driver">
            <limit lower="-2.22" upper="2.22" vel="3.0" acc="10.0" jerk="150.0" effort="30.0" />
            <transform ratio="1.0" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1.0" user_unit_name="rad"/>
            <inputs name="Inputs">
                <status_word>Status word</status_word>
                <position_actual_value>Position actual value</position_actual_value>
                <velocity_actual_value>Velocity actual value</velocity_actual_value>
                <torque_actual_value>Torque actual value</torque_actual_value>
                <load_torque_value>Analog Input 1</load_torque_value>
                <secondary_position_value>Auxiliary position actual value</secondary_position_value>
                <secondary_velocity_value>Secondary velocity value</secondary_velocity_value>
            </inputs>
            <outputs name="Outputs">
                <control_word>Control word</control_word>
                <mode_of_operation>Mode of operation</mode_of_operation>
                <target_position>Target Position</target_position>
                <target_velocity>Target Velocity</target_velocity>
                <target_torque>Target Torque</target_torque>
            </outputs>  
        </hardware>
    </joint>
    <link name="link_3">
        <inertial>
        <origin
            xyz="0.000 0.009 -0.058"
            rpy="0 0 0" />
        <mass
            value="3.685" />
        <inertia
            ixx="0.034"
            ixy="0"
            ixz="0"
            iyy="0.021"
            iyz="-0.001"
            izz="0.006" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/link_3.STL"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 3.1415926535897932384626"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/link_3.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="joint_3" type="continuous">
        <origin xyz="0 0.41 0" rpy="-1.5707963267948966 0 0"/>
        <parent link="link_2"/>
        <child link="link_3"/>
        <axis xyz="0 0 1"/>
        <hardware id="2" type="driver">
            <limit lower="-2.84" upper="2.84" vel="3.0" acc="10.0" jerk="150.0" effort="30.0" />
            <transform ratio="1.0" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1.0" user_unit_name="rad"/>
            <inputs name="Inputs">
                <status_word>Status word</status_word>
                <position_actual_value>Position actual value</position_actual_value>
                <velocity_actual_value>Velocity actual value</velocity_actual_value>
                <torque_actual_value>Torque actual value</torque_actual_value>
                <load_torque_value>Analog Input 1</load_torque_value>
                <secondary_position_value>Auxiliary position actual value</secondary_position_value>
                <secondary_velocity_value>Secondary velocity value</secondary_velocity_value>
            </inputs>
            <outputs name="Outputs">
                <control_word>Control word</control_word>
                <mode_of_operation>Mode of operation</mode_of_operation>
                <target_position>Target Position</target_position>
                <target_velocity>Target Velocity</target_velocity>
                <target_torque>Target Torque</target_torque>
            </outputs>  
        </hardware>
    </joint>
    <link name="link_4">
        <inertial>
        <origin
            xyz="0.000 0.136 0.016"
            rpy="0 0 0" />
        <mass
            value="3.185" />
        <inertia
            ixx="0.085"
            ixy="0"
            ixz="0"
            iyy="0.006"
            iyz="0.001"
            izz="0.084" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/link_4.STL"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0"
                    rpy="0 0 3.1415926535897932384626"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/link_4.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="joint_4" type="continuous">
        <origin xyz="0 0 0" rpy="1.5707963267948966 0 0"/>
        <parent link="link_3"/>
        <child link="link_4"/>
        <axis xyz="0 0 1"/>
        <hardware id="3" type="driver">
            <limit lower="-2.23" upper="2.23" vel="3.0" acc="10.0" jerk="150.0" effort="30.0" />
            <transform ratio="1.0" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1.0" user_unit_name="rad"/>
            <inputs name="Inputs">
                <status_word>Status word</status_word>
                <position_actual_value>Position actual value</position_actual_value>
                <velocity_actual_value>Velocity actual value</velocity_actual_value>
                <torque_actual_value>Torque actual value</torque_actual_value>
                <load_torque_value>Analog Input 1</load_torque_value>
                <secondary_position_value>Auxiliary position actual value</secondary_position_value>
                <secondary_velocity_value>Secondary velocity value</secondary_velocity_value>
            </inputs>
            <outputs name="Outputs">
                <control_word>Control word</control_word>
                <mode_of_operation>Mode of operation</mode_of_operation>
                <target_position>Target Position</target_position>
                <target_velocity>Target Velocity</target_velocity>
                <target_torque>Target Torque</target_torque>
            </outputs>  
        </hardware>
    </joint>
    <link name="link_5">
        <inertial>
        <origin
            xyz="0 0.008 -0.071"
            rpy="0 0 0" />
        <mass
            value="2.932" />
        <inertia
            ixx="0.032"
            ixy="0"
            ixz="0.003"
            iyy="0.032"
            iyz="-0.001"
            izz="0.004" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/link_5.STL"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 3.1415926535897932384626"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/link_5.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="joint_5" type="continuous">
        <origin xyz="0 0.401 0" rpy="-1.5707963267948966 0 0"/>
        <parent link="link_4"/>
        <child link="link_5"/>
        <axis xyz="0 0 1"/>
        <hardware id="4" type="driver">
            <limit lower="-2.71" upper="2.71" vel="3.0" acc="10.0" jerk="150.0" effort="30.0" />
            <transform ratio="1.0" offset_pos_cnt="0" cnt_per_unit="156455.678" torque_per_unit="1.0" user_unit_name="rad"/>
            <inputs name="Inputs">
                <status_word>Status word</status_word>
                <position_actual_value>Position actual value</position_actual_value>
                <velocity_actual_value>Velocity actual value</velocity_actual_value>
                <torque_actual_value>Torque actual value</torque_actual_value>
                <load_torque_value>Analog Input 1</load_torque_value>
                <secondary_position_value>Auxiliary position actual value</secondary_position_value>
                <secondary_velocity_value>Secondary velocity value</secondary_velocity_value>
            </inputs>
            <outputs name="Outputs">
                <control_word>Control word</control_word>
                <mode_of_operation>Mode of operation</mode_of_operation>
                <target_position>Target Position</target_position>
                <target_velocity>Target Velocity</target_velocity>
                <target_torque>Target Torque</target_torque>
            </outputs>  
        </hardware>
    </joint>
    <link name="link_6">
         <inertial>
        <origin
            xyz="0.000 0.089 0.018"
            rpy="0 0 0" />
        <mass
            value="2.043" />
        <inertia
            ixx="0.029"
            ixy="0"
            ixz="0"
            iyy="0.003"
            iyz="0.001"
            izz="0.028" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/link_6.STL"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 3.1415926535897932384626"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/link_6.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="joint_6" type="continuous">
        <origin xyz="0 0 0" rpy="1.5707963267948966 0 0"/>
        <parent link="link_5"/>
        <child link="link_6"/>
        <axis xyz="0 0 1"/>
        <hardware id="5" type="driver">
            <limit lower="-2.11" upper="2.11" vel="3.0" acc="10.0" jerk="150.0" effort="30.0" />
            <transform ratio="1.0" offset_pos_cnt="0" cnt_per_unit="130379.73" torque_per_unit="1.0" user_unit_name="rad"/>
            <inputs name="Inputs">
                <status_word>Status word</status_word>
                <position_actual_value>Position actual value</position_actual_value>
                <velocity_actual_value>Velocity actual value</velocity_actual_value>
                <torque_actual_value>Torque actual value</torque_actual_value>
                <load_torque_value>Analog Input 1</load_torque_value>
                <secondary_position_value>Auxiliary position actual value</secondary_position_value>
                <secondary_velocity_value>Secondary velocity value</secondary_velocity_value>
            </inputs>
            <outputs name="Outputs">
                <control_word>Control word</control_word>
                <mode_of_operation>Mode of operation</mode_of_operation>
                <target_position>Target Position</target_position>
                <target_velocity>Target Velocity</target_velocity>
                <target_torque>Target Torque</target_torque>
            </outputs>  
        </hardware>
    </joint>
    <link name="link_7">
        <inertial>
        <origin
            xyz="0.000 0.00 -0.032"
            rpy="0 0 0" />
        <mass
            value="0.994" />
        <inertia
            ixx="0.002"
            ixy="0"
            ixz="0"
            iyy="0.002"
            iyz="0"
            izz="0.001" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/link_7.STL"/>
            </geometry>
            <material name="">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://self_robot_description/meshes/link_7.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="joint_7" type="continuous">
        <origin xyz="0 0.230 0" rpy="-1.5707963267948966 0 0"/>
        <parent link="link_6"/>
        <child link="link_7"/>
        <axis xyz="0 0 1"/>
        <hardware id="6" type="driver">
            <limit lower="-2.84" upper="3.14" vel="3.0" acc="10.0" jerk="150.0" effort="30.0" />
            <transform ratio="1.0" offset_pos_cnt="0" cnt_per_unit="130379.73" torque_per_unit="1.0" user_unit_name="rad"/>
            <inputs name="Inputs">
                <status_word>Status word</status_word>
                <position_actual_value>Position actual value</position_actual_value>
                <velocity_actual_value>Velocity actual value</velocity_actual_value>
                <torque_actual_value>Torque actual value</torque_actual_value>
                <load_torque_value>Analog Input 1</load_torque_value>
                <secondary_position_value>Auxiliary position actual value</secondary_position_value>
                <secondary_velocity_value>Secondary velocity value</secondary_velocity_value>
            </inputs>
            <outputs name="Outputs">
                <control_word>Control word</control_word>
                <mode_of_operation>Mode of operation</mode_of_operation>
                <target_position>Target Position</target_position>
                <target_velocity>Target Velocity</target_velocity>
                <target_torque>Target Torque</target_torque>
            </outputs>  
        </hardware>
    </joint>
</robot>
